In [1]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [9]:
X, y = pd.read_csv('x_train.csv', delimiter=';'), pd.read_csv('y_train.csv')

### Список аттрибутов
* maxPlayerLevel - максимальный уровень игры, который прошел игрок
* numberOfAttemptedLevels - количество уровней, которые попытался пройти игрок
* attemptsOnTheHighestLevel - число попыток, сделанных на самом высоком уровне
* totalNumOfAttempts - общее число попыток
* averageNumOfTurnsPerCompletedLevel - среднее количество ходов, выполненных на успешно пройденных уровнях
* doReturnOnLowerLevels - делал ли игрок возвраты к игре на уже пройденных уровнях
* numberOfBoostersUsed - количество использованных бустеров
* fractionOfUsefullBoosters - количество бустеров, использованных во время успешных попыток (игрок прошел уровень)
* totalScore - общее количество набранных очков
* totalBonusScore - общее количество набранных бонусных очков
* totalStarsCount - общее количество набранных звезд
* numberOfDaysActuallyPlayed - количество дней, когда пользователь играл в игру

In [8]:
X.head()

,maxPlayerLevel,numberOfAttemptedLevels,attemptsOnTheHighestLevel,totalNumOfAttempts,averageNumOfTurnsPerCompletedLevel,doReturnOnLowerLevels,numberOfBoostersUsed,fractionOfUsefullBoosters,totalScore,totalBonusScore,totalStarsCount,numberOfDaysActuallyPlayed
0,39,10,3,17,24.444444,1,5,0.400000,2650000,1375,21,2
1,21,22,19,55,17.045455,1,6,0.333333,5614000,3825,51,4
2,5,6,1,6,8.400000,0,1,1.000000,857000,1150,14,1
3,21,2,5,6,19.000000,0,1,0.000000,120000,0,1,1
4,4,5,1,5,9.600000,0,1,1.000000,857000,1075,12,1

### Ответ
* 0 - пользователь ушёл (не возвращался в игру в течении недели)
* 1 - пользователь остался

In [11]:
y.head()

   0
0  1
1  1
2  1
3  0
4  0